
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f2f5; 
  font-family: 'Arial', sans-serif;
}

.sticky-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.sticky-header h1 {
  margin: 0;
  font-size: 2rem;
  color: #333;
}

.sticky-header p {
  margin: 5px 0 0;
  color: #666;
}

/* Stile per il contenitore dei post */
.posts-section {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 80px; 
}

.post {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.2s;
}

.post:hover {
  transform: translateY(-3px);
}

.post .post-header {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.post-header h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.post-header h4 {
  margin: 5px 0 0;
  font-size: 1rem;
  color: #999;
}

/* Bottone, non toccare nulla qui esplode il codice */
.delete-button {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s;
}

.delete-button:hover {
  color: #cc0000;
}

img {
  width:125px ;
}
