.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    height: calc(100vh - 120px); /* Adjust this value based on the height of your navbar and button section */
    overflow-y: auto;
  }
  
  .section {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .posts-section {
    width: 100%;
    max-width: 600px;
  }
  
  .post {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
  }
  
  .post h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .post h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #555;
  }
  
  .post p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
  }
  
.delete-button {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .post .post-header {
    position: relative;
  }
  /* ELIMINA POST è tutto buggato*/
  .delete-button {
    background: none;
    border: none;
    color: #ff0000;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  